label {
    display: inline-block; 
    width: 140px;
    vertical-align: top;
}
input {
    margin-bottom: 10px; 
}
.form-group.address {
display: flex;
align-items: center;
}
button {
margin-right: 11px; 

}
button{
    background-color: rgb(14, 18, 46);
    color: rgb(43, 226, 198);
}
    body {      
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('DekD.gif ');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    }
body {
    font-family: 'Mitr', sans-serif;
    margin: 0;
    padding: 20px;
    color: hsl(0, 0%, 0%);

}


header{
background-color: rgb(0, 0, 0);
color: #14c4f0;
border: 3px solid #2e6ee6; 
    border-radius: 150px;
    padding: 25px; 
    box-shadow: 0 8px 12px rgb(8, 85, 229); 
    width: 500px; 
    margin: -50px auto;
    margin-top: -1%;
    text-align: center;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff; 
    background-color: hsl(211, 91%, 57%); 
}
form:hover {
    background-color: #5bb0dd;
    transition: background-color 0.3s ease; 
}
form{
    border: 3px solid #2e6ee6; 
    border-radius: 15px;
    padding: 25px; 
    box-shadow: 0 8px 12px rgb(8, 85, 229); 
    width: 500px; 
    margin: -50px auto;
    margin-top: 4%;

}